.section {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 10px;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.section__container {
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin: 1px;
}

.section__containerTasks {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 15px;
}

.section__taskButton {
    background: transparent;
    color: teal;
    border: none;
    padding: 15px;
}

